header{
    background-color: aquamarine;
    
}

#cim{
    margin-bottom: 0px;
}

#alcim{
    margin-top: 0px;
    margin-bottom: 0px;
}

.oldalsav{
    background-color: aquamarine;
    text-align: center;
}